In [1]:
import json
import sys
import pandas as pd
import numpy as np
from convertdate import islamic
from dateutil.parser import parse, ParserError
from datetime import datetime

def convert_date(date_string):
    hijri_year = islamic.from_gregorian(datetime.now().year, datetime.now().month, datetime.now().day)[0]
    if len(date_string) >= 10:
        try:
            dt = parse(date_string)
            if dt.year <= hijri_year :
                date_convertie = islamic.to_gregorian(dt.year, dt.month, dt.day)
                date_convertie = dt.replace(year=date_convertie[0], month=date_convertie[1], day=date_convertie[2])
                return date_convertie.strftime("%Y-%m-%d %H:%M:%S")
            return dt.strftime("%Y-%m-%d %H:%M:%S")
        except ParserError:
            pass
    else : 
        return date_string


if __name__ == '__main__':

    df = pd.read_excel("../data/dataTer/_Fichier_Patient.xlsx")
        
    display(df)
    #rapport_conformite = json_data.get("RapportConformite")
    #output_data = {
    #    "FichierPatient": df.to_dict(orient="records"),
    #    "RapportConformite": rapport_conformite
    #}

,PATIENTID,MR_NO,HEALTHID,DATE_REGESITER,PATIENT_NAME,BIRTHDATE,GENDER,NATIONALITY,NATIONALID,MARITALSTATUS,FATHERSPRENAME,FATHERSNAME
0,37,28404,NaN,NaT,Nom1 Prenom1,1941-01-28 00:00:00,F,France,1015093485,NaN,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...
1,53,13-77-80,NaN,NaT,Nom2 Prenom2,03-11-1393,F,France,1056399247,NaN,NaN,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...
2,91,15-34-82,NaN,NaT,Nom3 Prenom3,1954-05-22 00:00:00,F,France,1025596816,NaN,B15,B10
3,112,18-29-85,NaN,NaT,Nom4 Prenom4,1965-09-02 00:00:00,F,France,1048651846,NaN,NaN,A!
4,146,12364,3.000010e+13,NaT,Nom5 Prenom5,1967-04-10 00:00:00,F,France,1023389800,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
197,8195,51350,NaN,NaT,Nom198 Prenom198,1979-11-20 00:00:00,F,France,1046132641,NaN,NaN,NaN
198,8211,50991,3.000009e+13,NaT,Nom199 Prenom199,1979-08-26 00:00:00,F,France,1022961666,NaN,NaN,NaN
199,8215,33274,NaN,NaT,Nom200 Prenom200,18-04-1416,M,France,1024,NaN,NaN,NaN
200,815,33,NaN,NaT,Nom200 Prenom200,2023-05-17 00:00:00,M,France,15,NaN,NaN,NaN
201,55555,33,NaN,NaT,Nom200 Prenom200,14/09/1890,M,France,1569878,NaN,NaN,NaN